{% load static %}

<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link href={% static "images/fav.png" %} rel="icon" type="image/png">
    <title>Martial Home</title>
    <link rel="stylesheet" href={% static 'css/index.css' %}>
</head>

<body>
    <div id="page" class="site">
        <nav class="nav-wrapper">
            <div class="nav-left">
                <h1>Martial Arts</h1>
            </div>
            <div class="nav-right">
                <h1>Log In</h1>
            </div>
        </nav>
    </div>
</body>